In [381]:
import lib.initShared  # custom library
import os
cwd = os.getcwd()
lib.initShared.initializeSharedLib(cwd)
import pandas as pd

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HomeCredit').getOrCreate()

In [382]:
data=spark.read.parquet(cwd+'/data/dataset')

In [383]:

type_dict={}
dict_counter={}
stat_dict_num={}
stat_dict_cat={}

def get_null_values():
    import pandas as pd
    profile=pd.DataFrame(columns=['column_name','null_count'])
    column_names=data.columns
    global dict_counter
    null_count_list=[]
    for col in column_names:
        null_count=data.filter(data[col].isNull()).count()
        null_count_list.append(null_count)
        dict_counter[col]=null_count
    profile['column_name']=column_names
    profile['null_count']=null_count_list
def get_type():
    global type_dict
    for col,ty in data.dtypes:
        type_dict[str(col)]=str(ty)
    dataF=pd.DataFrame()
    dataF['name']=type_dict.keys()
    dataF['type']=type_dict.values()
def get_stats(column_list):
    for col in column_list:

        stat_dict=data.select(col).summary().rdd.collectAsMap()
        stat_dict_num[col]=stat_dict
def cate_stats(columns):
    for col in columns:
        distinct=data.select(col).distinct().count()
        stat_dict_cat[col]=distinct
get_null_values()
get_type()
numeric_col=[i[0] for i in data.dtypes if i[1] != 'string']
get_stats( column_list=numeric_col)
cat_col=[i[0] for i in data.dtypes if i[1] == 'string']
cate_stats(cat_col)
profiler=pd.DataFrame()
#print(type_dict)
for i in numeric_col:
    this_dict={'Column':[i],'type':[type_dict[i]],'Null_count':[dict_counter[i]],'%Null':["{0:.2f}".format((dict_counter[i]/data.count())*100)]}
    for j in stat_dict_num[i].items():
        this_dict[j[0]]=["{0:.2f}".format(float(j[1]))]
    _temp=pd.DataFrame.from_dict(this_dict)
    profiler=pd.concat([profiler,_temp],axis=0)
profiler=profiler.set_index(['Column'])

cate_profiler=pd.DataFrame()
def nonasciitoascii(unicodestring):
    global count
    if unicodestring.isascii():
        count+=1
    return unicodestring.isascii()
convertedudf = udf(nonasciitoascii)
for i in cat_col:
    count=0
    this_dict={'Column':[i],'type':[type_dict[i]],'Null_count':[dict_counter[i]],'%Null':[(dict_counter[i]/data.count())*100]}
    distict_count=data.select(i).distinct().count()
    this_dict['categories']=distict_count
    
    count_dict=data.cube(i).count()
    count_dict=count_dict.rdd.collectAsMap()
    if dict_counter[i]==0:
        del(count_dict[None])
    sorted_by_value = sorted(count_dict.items(), key=lambda kv: kv[1])
    string=''
    
    
    converted = data.select('NAME_CONTRACT_TYPE').withColumn('con',convertedudf(data.NAME_CONTRACT_TYPE))
    this_dict['Non_ASCII']=count
    for idx,st in enumerate(sorted_by_value[-5:]):
        this_dict['Feature_'+str(idx)]=str(st[0])+':'+str(st[1])
    #printtthis_dict_dict_dict_dict_dicts_dicts_dictis_dict)
    
    _temp=pd.DataFrame.from_dict(this_dict)
    cate_profiler=pd.concat([cate_profiler,_temp],axis=0,ignore_index=True,sort=False)
cate_profiler=cate_profiler.set_index('Column')

In [384]:
cate_profiler

,type,Null_count,%Null,categories,Non_ASCII,Feature_0,Feature_1,Feature_2,Feature_3,Feature_4
Column,,,,,,,,,,
NAME_CONTRACT_TYPE,string,0,0.000000,2,0,Revolving loans:29279,Cash loans:278232,NaN,NaN,NaN
CODE_GENDER,string,0,0.000000,3,0,XNA:4,M:105059,F:202448,NaN,NaN
FLAG_OWN_CAR,string,0,0.000000,2,0,Y:104587,N:202924,NaN,NaN,NaN
FLAG_OWN_REALTY,string,0,0.000000,2,0,N:94199,Y:213312,NaN,NaN,NaN
NAME_TYPE_SUITE,string,1292,0.420148,8,0,Other_B:1770,Children:3267,"Spouse, partner:11370",Family:40149,Unaccompanied:248526
NAME_INCOME_TYPE,string,0,0.000000,8,0,Unemployed:22,State servant:21703,Pensioner:55362,Commercial associate:71617,Working:158774
NAME_EDUCATION_TYPE,string,0,0.000000,5,0,Academic degree:164,Lower secondary:3816,Incomplete higher:10277,Higher education:74863,Secondary / secondary special:218391
NAME_FAMILY_STATUS,string,0,0.000000,6,0,Widow:16088,Separated:19770,Civil marriage:29775,Single / not married:45444,Married:196432
NAME_HOUSING_TYPE,string,0,0.000000,6,0,Office apartment:2617,Rented apartment:4881,Municipal apartment:11183,With parents:14840,House / apartment:272868
OCCUPATION_TYPE,string,96391,31.345545,19,0,Managers:21371,Core staff:27570,Sales staff:32102,Laborers:55186,None:96391
WEEKDAY_APPR_PROCESS_START,string,0,0.000000,7,0,FRIDAY:50338,THURSDAY:50591,MONDAY:50714,WEDNESDAY:51934,TUESDAY:53901
ORGANIZATION_TYPE,string,0,0.000000,58,0,Medicine:11193,Other:16683,Self-employed:38412,XNA:55374,Business Entity Type 3:67992
FONDKAPREMONT_MODE,string,210295,68.386172,5,0,org spec account:5619,not specified:5687,reg oper spec account:12080,reg oper account:73830,None:210295
HOUSETYPE_MODE,string,154297,50.176091,4,0,terraced house:1212,specific housing:1499,block of flats:150503,None:154297,NaN
WALLSMATERIAL_MODE,string,156341,50.840783,8,0,Wooden:5362,Block:9253,"Stone, brick:64815",Panel:66040,None:156341
EMERGENCYSTATE_MODE,string,145755,47.398304,3,0,Yes:2328,None:145755,No:159428,NaN,NaN

In [385]:
profiler

,type,Null_count,%Null,count,mean,stddev,min,25%,50%,75%,max
Column,,,,,,,,,,,
SK_ID_CURR,int,0,0.00,307511.00,278180.52,102790.18,100002.00,189126.00,278178.00,367120.00,456255.00
TARGET,int,0,0.00,307511.00,0.08,0.27,0.00,0.00,0.00,0.00,1.00
CNT_CHILDREN,int,0,0.00,307511.00,0.42,0.72,0.00,0.00,0.00,1.00,19.00
AMT_INCOME_TOTAL,double,0,0.00,307511.00,168797.92,237123.15,25650.00,112500.00,147150.00,202500.00,117000000.00
AMT_CREDIT,double,0,0.00,307511.00,599026.00,402490.78,45000.00,270000.00,513531.00,808650.00,4050000.00
AMT_ANNUITY,double,12,0.00,307499.00,27108.57,14493.74,1615.50,16524.00,24903.00,34596.00,258025.50
AMT_GOODS_PRICE,double,278,0.09,307233.00,538396.21,369446.46,40500.00,238500.00,450000.00,679500.00,4050000.00
REGION_POPULATION_RELATIVE,double,0,0.00,307511.00,0.02,0.01,0.00,0.01,0.02,0.03,0.07
DAYS_BIRTH,int,0,0.00,307511.00,-16037.00,4363.99,-25229.00,-19682.00,-15750.00,-12413.00,-7489.00
DAYS_EMPLOYED,int,0,0.00,307511.00,63815.05,141275.77,-17912.00,-2760.00,-1213.00,-289.00,365243.00
DAYS_REGISTRATION,double,0,0.00,307511.00,-4986.12,3522.89,-24672.00,-7480.00,-4504.00,-2010.00,0.00
DAYS_ID_PUBLISH,int,0,0.00,307511.00,-2994.20,1509.45,-7197.00,-4298.00,-3254.00,-1720.00,0.00
OWN_CAR_AGE,double,202929,65.99,104582.00,12.06,11.94,0.00,5.00,9.00,15.00,91.00
FLAG_MOBIL,int,0,0.00,307511.00,1.00,0.00,0.00,1.00,1.00,1.00,1.00
FLAG_EMP_PHONE,int,0,0.00,307511.00,0.82,0.38,0.00,1.00,1.00,1.00,1.00
FLAG_WORK_PHONE,int,0,0.00,307511.00,0.20,0.40,0.00,0.00,0.00,0.00,1.00
FLAG_CONT_MOBILE,int,0,0.00,307511.00,1.00,0.04,0.00,1.00,1.00,1.00,1.00
FLAG_PHONE,int,0,0.00,307511.00,0.28,0.45,0.00,0.00,0.00,1.00,1.00
FLAG_EMAIL,int,0,0.00,307511.00,0.06,0.23,0.00,0.00,0.00,0.00,1.00
CNT_FAM_MEMBERS,double,2,0.00,307509.00,2.15,0.91,1.00,2.00,2.00,3.00,20.00
REGION_RATING_CLIENT,int,0,0.00,307511.00,2.05,0.51,1.00,2.00,2.00,2.00,3.00
REGION_RATING_CLIENT_W_CITY,int,0,0.00,307511.00,2.03,0.50,1.00,2.00,2.00,2.00,3.00
HOUR_APPR_PROCESS_START,int,0,0.00,307511.00,12.06,3.27,0.00,10.00,12.00,14.00,23.00
REG_REGION_NOT_LIVE_REGION,int,0,0.00,307511.00,0.02,0.12,0.00,0.00,0.00,0.00,1.00
REG_REGION_NOT_WORK_REGION,int,0,0.00,307511.00,0.05,0.22,0.00,0.00,0.00,0.00,1.00
LIVE_REGION_NOT_WORK_REGION,int,0,0.00,307511.00,0.04,0.20,0.00,0.00,0.00,0.00,1.00
REG_CITY_NOT_LIVE_CITY,int,0,0.00,307511.00,0.08,0.27,0.00,0.00,0.00,0.00,1.00
REG_CITY_NOT_WORK_CITY,int,0,0.00,307511.00,0.23,0.42,0.00,0.00,0.00,0.00,1.00
LIVE_CITY_NOT_WORK_CITY,int,0,0.00,307511.00,0.18,0.38,0.00,0.00,0.00,0.00,1.00
EXT_SOURCE_1,double,173378,56.38,134133.00,0.50,0.21,0.01,0.33,0.51,0.68,0.96
...,...,...,...,...,...,...,...,...,...,...,...
DEF_30_CNT_SOCIAL_CIRCLE,double,1021,0.33,306490.00,0.14,0.45,0.00,0.00,0.00,0.00,34.00
OBS_60_CNT_SOCIAL_CIRCLE,double,1021,0.33,306490.00,1.41,2.38,0.00,0.00,0.00,2.00,344.00
DEF_60_CNT_SOCIAL_CIRCLE,double,1021,0.33,306490.00,0.10,0.36,0.00,0.00,0.00,0.00,24.00
DAYS_LAST_PHONE_CHANGE,double,1,0.00,307510.00,-962.86,826.81,-4292.00,-1569.00,-757.00,-274.00,0.00
FLAG_DOCUMENT_2,int,0,0.00,307511.00,0.00,0.01,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_3,int,0,0.00,307511.00,0.71,0.45,0.00,0.00,1.00,1.00,1.00
FLAG_DOCUMENT_4,int,0,0.00,307511.00,0.00,0.01,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_5,int,0,0.00,307511.00,0.02,0.12,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_6,int,0,0.00,307511.00,0.09,0.28,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_7,int,0,0.00,307511.00,0.00,0.01,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_8,int,0,0.00,307511.00,0.08,0.27,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_9,int,0,0.00,307511.00,0.00,0.06,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_10,int,0,0.00,307511.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_11,int,0,0.00,307511.00,0.00,0.06,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_12,int,0,0.00,307511.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_13,int,0,0.00,307511.00,0.00,0.06,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_14,int,0,0.00,307511.00,0.00,0.05,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_15,int,0,0.00,307511.00,0.00,0.03,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_16,int,0,0.00,307511.00,0.01,0.10,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_17,int,0,0.00,307511.00,0.00,0.02,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_18,int,0,0.00,307511.00,0.01,0.09,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_19,int,0,0.00,307511.00,0.00,0.02,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_20,int,0,0.00,307511.00,0.00,0.02,0.00,0.00,0.00,0.00,1.00
FLAG_DOCUMENT_21,int,0,0.00,307511.00,0.00,0.02,0.00,0.00,0.00,0.00,1.00
AMT_REQ_CREDIT_BUREAU_HOUR,double,41519,13.50,265992.00,0.01,0.08,0.00,0.00,0.00,0.00,4.00
AMT_REQ_CREDIT_BUREAU_DAY,double,41519,13.50,265992.00,0.01,0.11,0.00,0.00,0.00,0.00,9.00
AMT_REQ_CREDIT_BUREAU_WEEK,double,41519,13.50,265992.00,0.03,0.20,0.00,0.00,0.00,0.00,8.00
AMT_REQ_CREDIT_BUREAU_MON,double,41519,13.50,265992.00,0.27,0.92,0.00,0.00,0.00,0.00,27.00
AMT_REQ_CREDIT_BUREAU_QRT,double,41519,13.50,265992.00,0.27,0.79,0.00,0.00,0.00,0.00,261.00
AMT_REQ_CREDIT_BUREAU_YEAR,double,41519,13.50,265992.00,1.90,1.87,0.00,0.00,1.00,3.00,25.00